params {
	
	fastq_path = '/home/bonny/Documents/bioinformatics_workspace/datasets/bulk_RNAseq_pipeline/GSE215384/samples/SRR*_{1,2}.fastq'
	threads = 8
	fastqc_out = '/home/bonny/Documents/bioinformatics_workspace/datasets/bulk_RNAseq_pipeline/GSE215384/samples/fastqc_out/'

	hisat2_index = '/home/bonny/Documents/bioinformatics_workspace/ref_genome/human/hisat2_index//human_GRCh38'

	bwa_index = '/home/bonny/Documents/bioinformatics_workspace/ref_genome/human/bwa_index//human_GRCh38.fa'


	alignment_out = '/home/bonny/Documents/bioinformatics_workspace/datasets/bulk_RNAseq_pipeline/GSE215384/samples/alignments/'

}